
/* set webpage background balck */
html {
    background-color: lightgreen;
}

/* title */
.title {
    text-align: center;
    color:rebeccapurple;
}

/* picture */
.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* hompage recipes */
.homepage-recipe{
    text-align: center;
    color: #251818;
}

/* lists align center */
li{
    text-align: center;
}


